@font-face
	font_name('PFDinPro_Bold', 'PFDinPro/bold')
@font-face
	font_name('PFDinPro_Black', 'PFDinPro/black')
@font-face
	font_name('PFDinPro_Regular', 'PFDinPro/regular')
@font-face
	font_name('PFDinPro_Semibold', 'PFDinPro/semibold')

@font-face
	font_name('NotoSans_Bold', 'NotoSans/bold')
@font-face
	font_name('NotoSans_BoldItalic', 'NotoSans/boldItalic')
@font-face
	font_name('NotoSans_Italic', 'NotoSans/italic')
@font-face
	font_name('NotoSans_Regular', 'NotoSans/regular')

@font-face
	font_name('Social', 'Social/icons')
