// COLORS
$colorFont = #fff
$colorBg =  #162878

$gray = #666
$blue = #0063b3
$blueDark = #004fa1
$red = #e7181a

// social
	colorVK = #4d75a3
	colorFB = #3b5998
	colorOK = #ff671b

// SIZES
$baseFontSize = 16px

// FUNCTIONS
fontToRem(value)
	unit(value/$baseFontSize, 'rem')