// ==============================
// +  >>>>>>>  FONTS <<<<<<<<<  +
// ==============================

font_name(name, filename)
	font-family name
	src url(../assets/fonts/filename.eot)
	src url(../assets/fonts/filename.eot?#iefix) format('embedded-opentype'),
			url(../assets/fonts/filename.woff2) format('woff2'),
			url(../assets/fonts/filename.woff) format('woff'),
			url(../assets/fonts/filename.ttf) format('truetype'),
			url(../assets/fonts/filename.svg#PF_Din_Bold) format('svg')
	font-weight normal
	font-style normal


// =======================================
// +  >>>>>>>>> MEDIA QUERY <<<<<<<<<<<  +
// =======================================

media-pad = 'screen and (min-width 767px)'
media-desktop = 'screen and (min-width 1200px)'
media-mobile = 'screen and (max-width 550px)'